html, body, h2, p {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: table;
    background-color: #000;
    color: white;

}
/*HEADER*/
.headerVideo {
max-height: 900px;
width: 100%;
object-fit: fill;
}
.header {
    height: 500px;
}
#first {
    position: fixed;
}

/*NAVBAR*/
nav {
margin-bottom: 150px;
}

/* MUSIQUE */
.sectionMusique {
    text-align: center;
    margin-bottom: 20px;
}
.titreEp {
    text-align: center;
    margin-bottom: 50px;
}

.pictureCover {
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    border-radius: 2.5%;
}

/*CLIP*/
.title-1, .title-2 {
    text-align: center;
    margin-bottom: 30px;
}
.video-play {
    text-align: center;
    margin-bottom: 30px;
}

button {
    height: 50px;
    width: 200px;
}
a {
    text-decoration: none;
    color: white;
}


/* BIO */
.bio {
    margin-top: 150px;
}
.biographie {
    text-align: center;
    margin-bottom: 50px;
}
#partBio {
    margin-bottom: 60px;
}

/*CONCERTS */
.live {
    text-align: center;
    margin-top: 150px;
}
.titleConcert {
    margin-bottom: 30px;
}
h3 {
    margin-bottom: 50px;
    font-style: italic;
}
table {
    margin: auto;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    
}
thead {
    border-bottom: solid white 1px;
}
td {
    text-align: center;
    border-bottom: solid grey 0.5px;
    height: 50px;
    
}
.size-table {
 width: 950px;
 margin: auto;
 margin-bottom: 50px;
}
.past-events {
    margin-top: 50px;
}


/*PHOTOS*/

.titreCarousel {
    margin-bottom: 30px;
}
.photos {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}
.d-block {
    height: 600px;
}
.carousel-inner {
    height: 500px;
   
    
}
.carousel-item {
    height: 500px;
    
}

/*CONTACT*/
.titleContact {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info-contact {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
/* FOOTER */
footer {
    display: table-row;
    height: 1px;
    background-color: #D60055;
}
.containerFooter {
    text-align: center;
    color: white;
    background-color: #D60055;
}
.iconeFacebook, .iconeInstagram, .iconeYoutube {
    display: inline;
    font-size: 25px;
}
.iconeInstagram {
    margin-left: 5px;
    margin-right: 5px;
}
.contactFooter {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #D60055;
}
.copyright {
    margin-top: 15px;
    margin-bottom: 40px;
}
.contact, .mentionsLegales, .faq {
    display: inline;
}
.mentionsLegales {
    margin-right: 10px;
    margin-Left: 10px;
}
.lienFooter {
    color: white;
}
.lienFooter:hover {
    color: #D60055;
}
.contacter, .mentionsLegales, .faq {
    background-color: #D60055;
}
