html, body, h2, p {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: table;
    background-color: #000;
    color: white;

}
.headerVideo {
max-height: 900px;
width: 100%;
object-fit: fill;
}
.header {
    height: 500px;
}

/* MUSIQUE */
.sectionMusique {
    text-align: center;
}

.pictureCover {
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*CLIP*/
.videoClip {
    text-align: center;
}
.video {
    height: 150px;
    width: 200px;
}

/* BIO */
.biographie {
    text-align: center;
}

/*CONCERTS */
.live {
    text-align: center;
}

/*PHOTOS*/
.photos {
    text-align: center;
}
.d-block {
    height: 600px;
}


/*CONTACT*/
.infoContact {
    text-align: center;
}
/* FOOTER */
footer {
    display: table-row;
    height: 1px;
    background-color: #D60055;
}
.containerFooter {
    text-align: center;
    color: white;
}
.iconeFacebook, .iconeInstagram, .iconeYoutube {
    display: inline;
    font-size: 25px;
}
.iconeInstagram {
    margin-left: 5px;
    margin-right: 5px;
}
.contactFooter {
    margin-top: 20px;
    margin-bottom: 10px;
}
.copyright {
    margin-top: 15px;
    margin-bottom: 20px;
}
.contact, .mentionsLegales, .faq {
    display: inline;
}
.mentionsLegales {
    margin-right: 10px;
    margin-Left: 10px;
}
.lienFooter {
    color: white;
}
.lienFooter:hover {
    color: #5B0527;
}